<!DOCTYPE html>
<html>
<head>
	<title>Drum Circle - Error</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="semi-transparent">
	<b><%= error %></b>
</div>
</body>
</html>