#controls {
    margin: 7px auto 5px auto;
    width: 320px;
}

#effects td {
    font-size: 11px;
    border: 1px solid #111;
    border-radius: 3px;
    padding: 6px;
    color: #000;
    background-color: #FFF;
    cursor: pointer;
    font-weight: bold;
}

#effects td.selected {
    color: #FFF;
    background-color: #121212;
    font-weight: normal;
}